@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Satisfy");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding-bottom: 50px; }

.logo,
.mobile-logo {
  font-family: "Satisfy", cursive; }

.main-nav {
  font-family: "Satisfy", cursive; }

header .main-header {
  height: 100px;
  background-color: white;
  padding: 0 70px;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media all and (max-width: 760px) {
    header .main-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 70px; } }

header .logo {
  font-size: 40px; }

header .main-nav {
  -webkit-transition: all 0.2s cubic-bezier(0.01, -0.01, 0, 0.99);
  -o-transition: all 0.2s cubic-bezier(0.01, -0.01, 0, 0.99);
  transition: all 0.2s cubic-bezier(0.01, -0.01, 0, 0.99); }
  header .main-nav.reveal {
    display: block; }
  header .main-nav li {
    list-style: none;
    display: inline-block;
    margin-left: 20px; }
    @media all and (max-width: 760px) {
      header .main-nav li {
        margin: 0;
        display: block;
        text-align: center; } }
  header .main-nav a {
    text-decoration: none;
    color: #555;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    font-size: 20px; }
    header .main-nav a:hover {
      text-decoration: underline;
      color: #111; }

#home-content {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; }
  @media all and (max-width: 760px) {
    #home-content {
      margin-top: 70px; } }
  #home-content img {
    max-width: 100%;
    width: 100%; }

#main-content {
  grid-gap: 50px;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  padding: 50px 0;
  margin-bottom: 150px; }
  @media all and (max-width: 760px) {
    #main-content {
      margin-top: 50px; } }
  #main-content .image-container {
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; }
  #main-content .latest-paintings {
    width: 100%;
    background-color: blue;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%; }

/* Create three equal columns that floats next to each other */
.column {
  width: 100%;
  display: none;
  /* Hide columns by default */ }

/* Content */
.content img {
  width: 100%; }

/* The "show" class is added to the filtered elements */
.show {
  display: block; }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 6px 8px;
  background-color: white;
  cursor: pointer; }

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd; }

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white; }

/*# sourceMappingURL=main.css.map */