@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Satisfy");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.logo {
  font-family: "Raleway", cursive; }
  .logo a {
    color: #fff;
    text-decoration: none; }
  .logo span {
    font-weight: 100;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .logo span.span-reveal {
      opacity: 1; }

.main-nav {
  font-family: "Raleway", cursive; }

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  height: 50px;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  header.nav-open {
    height: 350px; }
  header.trans {
    background-color: rgba(24, 24, 24, 0.98); }
  header.opaque {
    background-color: #181818; }

.nav-headers {
  width: 100%;
  height: 50px;
  padding: 5px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .nav-headers.nav-reveal {
    padding: 10px 60px; }
    @media all and (max-width: 550px) {
      .nav-headers.nav-reveal {
        padding: 10px 30px; } }
  .nav-headers #hamburger .line {
    background: white; }
  @media all and (max-width: 550px) {
    .nav-headers {
      padding: 10px 30px; } }

.nav-text-container {
  width: 92%;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
  font-family: "Raleway", cursive;
  font-size: 2vw; }
  @media all and (max-width: 900px) {
    .nav-text-container {
      font-size: 20px; } }
  @media all and (max-width: 550px) {
    .nav-text-container {
      font-size: 18px; } }
  .nav-text-container .text-container {
    margin-top: 80px; }
  .nav-text-container p {
    font-weight: 100; }
    .nav-text-container p:not(:last-child) {
      margin-bottom: 10px; }
    .nav-text-container p span {
      font-weight: 500; }
      .nav-text-container p span a,
      .nav-text-container p span .paintings-nav {
        text-decoration: none;
        color: #fff; }
        .nav-text-container p span a:hover,
        .nav-text-container p span .paintings-nav:hover {
          text-decoration: underline;
          cursor: pointer; }

#main {
  width: 100%;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media all and (max-width: 550px) {
    #main {
      margin-top: 0; } }
  #main .home-content {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.9))), url("../images/home-bg-web.jpg");
    background-image: -webkit-linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.9)), url("../images/home-bg-web.jpg");
    background-image: -o-linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.9)), url("../images/home-bg-web.jpg");
    background-image: linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.9)), url("../images/home-bg-web.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #main .home-title {
    color: #fff;
    font-family: "Raleway", cursive;
    font-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media all and (max-width: 550px) {
      #main .home-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    #main .home-title a {
      color: #fff;
      text-decoration: none; }
    #main .home-title span {
      font-weight: 100;
      display: inline-block; }
  #main .work-links {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    #main .work-links a {
      text-decoration: none; }
      #main .work-links a i {
        color: #fff;
        font-size: 42px; }
      #main .work-links a:not(:first-child) {
        margin-left: 10px; }
      #main .work-links a:not(.etsy-link) {
        margin-top: 5px; }
  #main .etsy-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 700; }
  #main .fa-etsy:hover {
    color: #F45800; }
  #main .fa-youtube:hover {
    color: #FF0000; }
  #main .fa-instagram:hover {
    color: #fbad50; }
  #main .categories-btn {
    background-color: #181818;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 25px;
    margin-top: 10px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    #main .categories-btn a {
      color: #fff;
      text-decoration: none; }
    #main .categories-btn:hover {
      background-color: #fff;
      cursor: pointer; }
      #main .categories-btn:hover a {
        color: #181818; }

.painting-content {
  background-color: white;
  width: 100%;
  padding: 50px 0; }
  .painting-content .paintings-title {
    text-align: center;
    font-size: 3vw;
    font-family: "Raleway", cursive;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-top: 40px; }
    @media all and (max-width: 550px) {
      .painting-content .paintings-title {
        font-size: 5vw; } }
  .painting-content .paintings-line {
    width: 150px;
    height: 3px;
    background-color: #181818;
    margin: 30px auto; }
  .painting-content .painting-categories {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px; }
    .painting-content .painting-categories li {
      display: inline-block;
      padding: 5px 15px;
      background-color: #fff;
      margin: 5px;
      border: solid 1.5px #181818;
      font-size: 13px;
      font-family: Calibri;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .painting-content .painting-categories li:hover {
        cursor: pointer; }
      .painting-content .painting-categories li.active {
        background-color: #181818;
        color: #fff; }
    @media all and (max-width: 550px) {
      .painting-content .painting-categories {
        padding: 0 20px; } }
  .painting-content .paintings {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 0.45fr));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 15px;
    margin-bottom: 50px; }
  .painting-content img {
    max-width: 100%;
    margin: 0;
    padding: 0; }

.rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.rotate90cw {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.shop-title {
  text-align: center;
  font-size: 4vw;
  font-weight: 700;
  font-family: "Raleway", cursive;
  margin-top: 100px; }

#hamburger {
  background: none;
  display: inline-block;
  position: relative;
  cursor: pointer; }

.main-item {
  width: 30px;
  height: 30px;
  position: relative; }

.line {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #181818;
  border-radius: 10px;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.4s;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.4s; }

.line01 {
  top: 20%; }

.line02 {
  top: 50%; }

.line03 {
  top: 80%; }

.menu.close .line01 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 50%; }

.menu.close .line02, .menu.close .line03 {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
  top: 50%; }

/*# sourceMappingURL=main.css.map */