$green: greenyellow;
$black: #222222;
$black-light: #333333;
$grey: #8E9394;
$light-grey: #BAC0B6;
$antique-white: #FAFAFA;
$blue: #22ACF3;
$blueish-black: #1D2629;
$golden-orange: #F7CF20;
$bp-gradient: linear-gradient(142deg, rgba(34,172,243,1) 0%, rgba(52,178,243,1) 37%, rgba(150,147,247,1) 100%);