// Width
$maxWidth: 1400px;
$maxWidthSmall: 1215px;

// Spacing
$spacing-tiny: 5px;
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;
$spacing-larger: 60px;
$spacing-huge: 120px;

// Transitions
$trans-sf: .2s cubic-bezier(.4,0,.68,.06);