#main-content {
  grid-gap: 50px;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  margin-top: 50px; }
  #main-content #image-container {
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; }
