@use '../abstracts' as *;
// images flex container has been set in _home.scss

.diaramas { //Page class

    .gallery {
        
        @include responsive(mobile) {
            padding-bottom: 0;
    
        }

        .images {

            @include responsive(mobile) {
                margin: $spacing-small;
            }
            
            figure {
                max-width: 48%;
                margin: 2.5px;
                position: relative;
                overflow: hidden;

                @include responsive(tablet) {
                    margin: 0 $spacing-small $spacing-medium;
                    &:last-child {
                        margin-bottom: $spacing-small;
                    }
                    max-width: 100%;
                }
                
                img {
                    display: block;
                }

                &.overview-imgs {
                    figcaption::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,1) 75%);
                        content: '';
                        opacity: 0;
                        transform: translate3d(0,50%,0);
                        transition: opacity 0.35s, transform 0.35s;
                        
                        @include responsive(tabletsmall) {
                            // background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
                            opacity: 1!important;
                        }
                    }

                    h3 {
                        position: absolute;
                        bottom: 5%;
                        left: 0;
                        width: 100%;
                        color: #484c61;
                        color: $antique-white;
                        transition: transform 0.35s, color 0.35s;
                        transform: translate3d(0,-50%,0);
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 30px;
                        
                        @include responsive(tabletsmall) {
                            color: #fff;
                            transform: translate3d(0,-50%,0) translate3d(0,-20px,0);
                        }

                        @include responsive(mobile) {
                            font-size: 20px;
                            margin-bottom: $spacing-tiny;   
                        }
                    }
                    
                    p {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 2em;
                        width: 100%;
                        opacity: 0;
                        color: $antique-white;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: $fw-bold;
                        transform: translate3d(0,10px,0);
                        transition: opacity 0.35s, transform 0.35s;

                        @include responsive(tabletsmall) {
                            opacity: 1;
                            transform: translate3d(0,0,0);
                        }

                        @include responsive(mobile) {
                            font-weight: $fw-light;
                            font-size: 14px;
                        }
                    }

                    a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }

                    &:hover {
                        h3 {
                            color: #fff;
                            transform: translate3d(0,-50%,0) translate3d(0,-20px,0);
                        }
                        
                        figcaption::before, p {
                            opacity: 1;
                            transform: translate3d(0,0,0);
                        }

                    }
                }

            }


        }

    }

}

