@-webkit-keyframes close-reveal {
  0% {
    display: none;
    opacity: 0; }
  50% {
    display: block; }
  100% {
    opacity: 1; } }
@keyframes close-reveal {
  0% {
    display: none;
    opacity: 0; }
  50% {
    display: block; }
  100% {
    opacity: 1; } }
