header
	background-color: #181818
	height: 450px

	+respond(tablet)
		height: 450px

	+respond(phone)
		height: 480px

	z-index: 99

.nav-headers
	width: 100%
	height: 50px
	padding: 10px 60px
	display: flex
	justify-content: space-between
	position: absolute
	color: #fff
	z-index: 999

	#hamburger
		.line
			background: white

	+respond(phone)
		padding: 10px 30px

.nav-text-container
	width: 92%
	margin: 0 auto
	color: #fff
	padding: 10px
	font: 
		family: $ff-main
		size: 25px

	+respond(tablet)
		font-size: 20px

	.text-container
		margin-top: 80px

	p	
		font-weight: $fw-thin
		&:not(:last-child)
			margin-bottom: 10px

		span
			font-weight: $fw-medium
			a
				text-decoration: none
				color: #fff
			&:hover
				text-decoration: underline

			